/* This file is not licensed.
 * If you decide to copy or share it there is nothing I can do to stop you. 
 * 
 * Domagoj Boros, 2012. */

body {
	background-image:url("../images/gray_jean.png");
	font-family:Monospace;
}

#naslov {
	position:absolute;
	top:50px;
	left:100px;
}

a {
	color:green;
	text-decoration:none;
}

div.mytextbox {
	position:absolute;
	width:350px;
	text-align:justify;
}

div#aboutme {
	top:100px;
	left:100px;
}

div#projects {
	top:100px;
	left:500px;
}

div#contactme {
	top:400px;
	left:100px;
}

div.reference {
	position:absolute;
	width:200;
	top:100px;
	left:900px;
}
