/* This file is not licensed.
 * If you decide to copy or share it there is nothing I can do to stop you.
 *
 * Domagoj Boroš, 2013. */

/* General body stlye */

body {
    background-image:url("../images/binding_dark.png");
    font-family: Monospace, sans-serif;
    font-size: 30px;
}

table {
    display: block;
    position: relative;
    top: 100px;
}

td {
    border: white solid 1px;
    border-radius: 10px;
    background-color: #eeeeee;
    opacity: 0.6;
    position: relative;
}

td:hover {
    opacity: 1;
}

td div {
    float: right;
}

td div.text {
    display: none;
}

td:hover > div.text {
    font-size: 16px;
    border: white solid 1px;
    border-radius: 10px;
    background-color: #eeeeee;
    display: block;
    position: absolute;
    left: 220px;
}

li {
    list-style: none;
}
